/*/////////// homepage-style//////////*/

* {
  margin: 0px;
  padding: 0px;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
}

.wraper1 {
  background-color: #1b1813;
  height: 100vh;
  width: 100vw;
}

.navbar {
  max-height: 20vh;
  min-height: 12vh;
  width: 100vw;
  color: white;
  background-color: #1b1813;
  font-family: Arial, Helvetica, sans-serif;
}
.navlinks a:active {
  color: red;
}

.logo {
  background-color: #1b1813;
  margin-top: 3px;
  height: 11vh;
  width: 20vw;
  float: left;
  display: inline;
}

.logo img {
  height: 10vh;
  margin-top: 5px;
}

.navlinks {
  background-color: #1b1813;
  margin-top: 1px;
  height: 11vh;
  width: 80vw;
  float: left;
  display: inline;
}

#navlist {
  float: left;
  list-style: none;
  margin-left: 190px;
  line-height: 4;
  font-size: 18px;
  font-weight: 600;
}

.navdata {
  display: inline;
  padding: 0px 15px;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: white;
}

.aboutme {
  margin-top: 120px;
  margin-left: 60px;
  height: 400px;
  width: 600px;
  display: inline;
  float: left;
}

p.me {
  font-size: 30px;
  color: red;
  text-transform: capitalize;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: inline;
  padding: 2px;
}

#developertext:hover {
  color: white;
  cursor: pointer;
}

#name {
  font-size: 40px;
  font-weight: 400;
  color: white;
  padding: 5px;
  text-transform: capitalize;
}

.somewords {
  padding: 7px;
  color: white;
  font-size: 20px;
  font-weight: 200;
  text-transform: capitalize;
}

.imagebox {
  display: inline-block;
  margin-top: 75px;
  float: left;
  transition: background 0.5s, transform 0.7s;
  overflow: hidden;
}
.imagebox:hover {
  transform: translatex(-20px);
}

#myimage {
  height: 550px;
  float: left;
  
  transition: background 0.5s, transform 0.4s;
}
#myimage:hover {
  transform: translateY(-10px);
}

.linksbox {
  display: inline-block;
  float: left;
  height: 270px;
  width: 50px;
  margin-top: 240px;
  padding: 5px;
}

.linksimg {
  margin: 5px;
  height: 34px;
  border: 1px solid #1b1813;
  background-color: rgb(241, 231, 231);
  border-radius: 50%;
  border: 1px solid white;
  transition: transform 0.3s;
}

.linksimg:hover {
  background: linear-gradient(black, red);
  height: 36px;
  border: 1px solid rgb(220, 23, 23);
  transform: translatex(-10px);
}

li :hover {
  color: orangered;
}

.button {
  margin-left: 20px;
  padding: 10px 30px;
  float: left;
  border: 1px solid red;
  border-radius: 0px 15px;
  font-size: 15px;
  font-weight: bold;
  text-transform: capitalize;
  margin-top: 15px;
  background-color: black;
}

.button:hover {
  border: 1px solid white;
  background: linear-gradient(to right, black, red, white, red, black);
  color: black;
}

/*/////////// contact style///

 
///////////////////////////////////////////////////////////////////////////////////////////////*/

body {
  background-color: #1b1813;
  color: white;
}

.wraper2 {
  background-color: #1b1813;
  height: 150vh;
  width: 100vw;
  
}
 
 .infoheader h4 {
  font-weight: 300;
  margin-top: 15px;

  padding-top: 10px;
  font-size: 15px;
  color: #1b1813;
  text-align: center;
}

.infoheader  h1 {
  font-size: 45px;
  color: red;
  padding-bottom: 30px;
  text-align: center;
}

.infoheader {
  height: 7rem;
  width: 100vw;
  background: rgb(255, 255, 255);
  display: inline-block;
}
.myinfo {
  display: flex;
  flex-direction: column;
  width: 25vw;
  display: inline-block;
  padding-top: 25px;
  margin-top: 40px;
}

.box {
  height: 50px;
  width: 345px;
  display:flex;
   gap: 10px;
   align-items: center;
  
 
}

.contacticons {
  height: 30px;
  
}

#no,
#email,
#workplace,
#website {
  color: white;
  font-weight: 400;
  
  
}
#nono{
  line-height: 3;
}

p.formheading {
  padding-top: 20px;
  text-transform: capitalize;
  color: white;
  font-size: 35px;
  margin-bottom: 15px;
  font-weight: bolder;
}

.form {
  color: black;
  margin-left: 100px;
  height: 80vh;
  width: 50vw;
  float: left;
  margin-top: 30px;
}



label {
  color: white;
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
}

 .form form input {
  color: black;
  text-transform: lowercase;
  border: none;
  font-size: 18px;
 
  height: 50px;
  width: 500px;
  margin-top: 4px;
  padding: 0px 5px;
  border-radius: 7px;
}

input [type="text"] {
  text-transform: capitalize;
  
}

textarea {
  color: black;
  text-transform: capitalize;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-radius: 7px;
  font-size: 18px;
  width: 500px;
  background-color: white;
}

input[type="submit"] {
  text-align: center;
  border-radius: 5px;
  width: 500px;
  color: white;
  height: 0px;
  font-size: larger;
  
  border-radius: 0px 15px;
  background: linear-gradient(rgba(131, 55, 55, 0.306), red);
  transition: height .5s ,  transform 0.5s;
}

input[type="submit"]:hover {
  cursor: pointer;
  transform: translateY(-7px);
  font-size: larger;
  height: 70px;
  border:  1px solid white;
  
}
.map{
  margin-top: 40px;
  margin-left: 50px;
  margin-bottom: 10px;

}

/*/////////about page//////////
background: linear-gradient(to right, black, red, black);
////////////////////////////////////////////////////////////*/

.wraper3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  height: 100vh;
  width: 100vw;
}

.column {
  margin-left: 10px;
  padding-left: 10px;
  float: left;
  display: inline-block;
  height: 130vh;
  min-width: 20vw;
  max-width: 21vw;
}

.sec1 {
  text-align: center;
  display: inline-block;
  height: 40vh;
  width: 21vw;
}

#smallimg {
  background-size: cover;
  height: 100px;
  margin-top: 5px;
  background-size: cover;
  border: 1px solid white;
  border-radius: 50%;
}

#pickdetails {
  padding: 4px 0px 7px 0px;
  font-size: small;
  font-weight: 400;
  border-bottom: 1px solid white;
  color: white;
  opacity: 0.7;
}

#pickname {
  font-size: larger;
  text-transform: uppercase;
  color: red;
  opacity: 1;
}

#pickaddress {
  display: flex;

  margin-top: 10px;
}
#adress-left {
  list-style-type: none;
  text-align: justify;
  margin-left: 20px;
  color: rgba(179, 28, 28, 0.761);
}
#adress-right {
  list-style-type: none;
  margin-left: 40px;
  text-align: justify;
  opacity: 0.7;
}

.sec2 {
  margin-top: 1rem;

  display: inline-block;
  height: 64vh;
  width: 18vw;
  color: white;
}

#skillheading {
  font-size: 25px;
}

.skillboxses {
  height: 25px;
  width: 20vw;
  border: 1px solid white;
}

.skillboxses:hover {
  border: 1px solid white;
}

#percentbackgroundcolor1 {
  display: inline-block;
  height: 25px;
  padding-left: 4px;
  width: 16vw;
  line-height: 1.3;
  border-radius: 0px 10px 10px 0px;
  background: linear-gradient(to right, black, red);
}

#percentbackgroundcolor2 {
  display: inline-block;
  height: 25px;
  padding-left: 4px;
  width: 12vw;
  line-height: 1.3;
  border-radius: 0px 10px 10px 0px;
  background: linear-gradient(to right, black, red);
}

#percentbackgroundcolor3 {
  display: inline-block;
  height: 25px;
  padding-left: 4px;
  width: 12vw;
  line-height: 1.3;
  border-radius: 0px 10px 10px 0px;
  background: linear-gradient(to right, black, red);
}

#percentbackgroundcolor4 {
  display: inline-block;
  height: 25px;
  padding-left: 4px;
  line-height: 1.3;
  border-radius: 0px 10px 10px 0px;
  width: 10vw;
  background: linear-gradient(to right, black, red);
}

#percentbackgroundcolor5 {
  display: inline-block;
  height: 25px;
  padding-left: 4px;
  width: 10vw;
  background: linear-gradient(to right, black, red);
  line-height: 1.3;
  border-radius: 0px 10px 10px 0px;
}

#percentbackgroundcolor6 {
  display: inline-block;
  height: 25px;
  padding-left: 4px;
  width: 10vw;
  background: linear-gradient(to right, black, red);
  line-height: 1.3;
  border-radius: 0px 10px 10px 0px;
}

#percentbackgroundcolor7 {
  display: inline-block;
  height: 25px;
  padding-left: 4px;
  width: 10vw;
  line-height: 1.3;
  border-radius: 0px 10px 10px 0px;
  background: linear-gradient(to right, black, red);
}

#percentbackgroundcolor8 {
  display: inline-block;
  height: 25px;
  width: 10vw;
  padding-left: 4px;
  line-height: 1.3;
  border-radius: 0px 10px 10px 0px;
  background: linear-gradient(to right, black, red);
}

#skilltopic {
  color: white;
  font-weight: 700;
}

#skillpercent {
  font-weight: 200;
  opacity: 0.7;
  color: rgba(255, 255, 255, 0.774);
}

.sec3 {
  margin-top: 1vh;
  float: left;
  height: 14vh;
  width: 21vw;
}

#cvbtn {
  display: inline-block;
  height: 45px;
  width: 160px;
  line-height: 3;
  text-align: center;
  font-size: 17px;
  background: red;
  
  color: white;
  margin-top: 7px;
  margin-left: 60px;
  font-weight: 600;
  border-radius: 0px 10px;
  transition: background 0.4s, transform 0.4s;
}

#cvbtn:hover {
  border: 2px solid white;
  transform: translateY(-4px);
}

.row1 {
  float: left;
  max-height: 60vh;
  min-height: 40vh;
  max-width: 75vw;
  min-width: auto;
  margin-left: 30px;
  position: relative;
  border-radius: 10px;
}

.header {
  position: absolute;
  top: 5px;
  left: 10px;
  float: left;
  padding: 10px;
}

#aboutbg {
  opacity: 0.4;
  width: 70vw;
  height: 60vh;
  background-color: black;
}

#row1header {
  font-size: 60px;
  font-weight: 1000;
  margin-top: 20px;
}

#row1header2 {
  margin-top: 10px;
  font-size: 25px;
  font-weight: 500;
}

.code {
  color: red;
}

.explorebtn {
  margin-top: 10px;
  height: 40px;
  width: 150px;
  font-size: 20px;
  padding-top: 12px;
  text-align: center;
  background: red;
  color: white;
  display: block;
  font-weight: 500;
  border-radius: 0px 15px;

  transition: background 0.5s, transform 0.5s;
}

.explorebtn:hover {
  transform: translatex(15px);
}

.row2 {
  display: flex;
  float: left;
  gap: 15px;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 75vw;
  margin-top: 10px;
  margin-left: 25px;
}

.abouteducationheader {
  padding: 20px 10px;
  margin-left: 30px;
  text-align: center;
  display: inline-block;
  font-size: 35px;
  font-weight: 600;
}

.educationbox {
  display: inline-block;

  height: 45vh;
  width: 23vw;
  margin-left: 10px;
  background: red;
  border-radius: 15px;
  transition: background 0.8ms, transform 0.4s;
}
.educationbox:hover {
  transform: translateY(-25px);
  background: rgba(255, 0, 0, 0.795);
}

.educationheading {
  margin-top: 10px;
  padding: 20px 25px 0px;
  font-size: 20px;
  font-weight: 500;
  font-weight: bolder;
}

.educationdetail {
  padding: 5px 20px 5px;
  margin-top: 6px;
  color: black;
  font-weight: 300;
  font-size: 15px;
}
.educationbox ul li {
  color: black;
  font-weight: 700;
  font-size: medium;
  margin-left: 40px;
  margin-bottom: 4px;
}
.year {
  font-weight: 600;
  padding: 0px 25px 20px;
  font-size: 14px;
}

.seeresult {
  font-size: 17px;
  padding: 10px 20px 0px;
  color: white;
  text-align: center;
  display: inline-block;
  font-weight: bolder;
  margin-left: 10px;
}

.seeresult:hover {
  cursor: pointer;

  text-decoration: underline;

  border-radius: 15px;
}

.educationbox:hover {

  cursor: pointer;
}

/*
---------------------service page-----------*/
.wraper4 {
  background-image: radial-gradient(
      circle at center center,
      transparent,
      rgb(33, 33, 33)
    ),
    repeating-linear-gradient(
      135deg,
      rgb(33, 33, 33) 0px,
      rgb(33, 33, 33) 2px,
      transparent 2px,
      transparent 10px,
      rgb(33, 33, 33) 10px,
      rgb(33, 33, 33) 11px,
      transparent 11px,
      transparent 21px
    ),
    repeating-linear-gradient(
      45deg,
      rgb(47, 47, 47) 0px,
      rgb(47, 47, 47) 4px,
      transparent 4px,
      transparent 8px
    ),
    linear-gradient(90deg, rgb(33, 33, 33), rgb(33, 33, 33));
  height: 100vh;
  width: 100vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.service-container {
  margin: 0px 40px;
}
.service-subtitle {
  font-size: 50px;
  padding: 40px 50px;
  color: #fff;
  margin-bottom: 40px;
  text-align: unset;
}
.servicelists {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 30px;
}
.servicelists div {
  cursor: pointer;
}

.servicelists div h2 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 20px;
}
.servicelists div a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  margin-top: 25px;
  display: inline-block;
}

.servicelists div {
  background: #262626;
  padding: 40px;
  font-weight: 400px;
  font-size: 14px;
  border-radius: 10px;
  transition: background 0.3s, transform 0.5s;
}
.servicelists div:hover {
  background-color: red;
  transform: translateY(-25px);
}

/* ------work style page -------------------------------*/

.wraper5 {
  

}
 

.work-container h2 {
  padding: 30px 40px 0px;
  font-size: 30px;
  color: rgb(255, 255, 255);
}

.workno h3 {
  padding: 0px 10px 20px;
  color: red;
  opacity: 0.8;
  font-size: 15px;
  text-align: center;
}

.worklist {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 50px;
  margin: 20px 20px ;
}
.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.work img {
  display: block;
  border-radius: 10px;
  width: 100%;
  transition: transform 0.5s;
  background-size: contain;
}
.work h2 {
  padding-top: 20px;
  text-align: center;
}

.layer {
  width: 100%;
  height: 0%;
  position: absolute;
  left: 0;
  bottom: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.5), red);
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  font-size: 14px;
  transition: height 0.5s;
}
.layer p {
  text-align: center;
}
.layer h3 {
  font-weight: 900;
  font-size: 20px;
  margin-bottom: 20px;
}
.work:hover img {
  transform: scale(1.1);
}
.work:hover .layer {
  height: 100%;
}
.seemore {
  text-align: center;
}

.seemore a {
  list-style-type: none;
  display: inline-block;
  width: 85px;
  text-align: center;
  padding: 10px 40px;
  transition: background 0.7s, transform 0.7s;
  color: white;
  font-weight: 600;
  line-height: 2.5;
 
  border: 1px solid red;
  border-radius: 0px 15px 0px 15px;
}
.seemore a:hover {
  background: red;
  transform: translateY(-5px);
}
.layer a {
  text-decoration: none;
  display: inline-block;
  font-size: medium;
  font-weight: 900;
  color: black;
  padding: 20px 0px;
}
/* -------------blog page--------------- */
.wraper6{
  height: 100vh;
  width: 100vw;
  background-color:#1b1813;
}
.blog-content{

 background: linear-gradient(black, blue);
 padding-bottom: 30px;
 min-height:70vh;
 max-height: 200vh;
 width: 70vw;
 border-radius: 8px;
 margin: auto;
 margin-top:50px;
}

.blog-content h3 {
  margin-top: 30px;
  color: red;
  font-weight: 900;
  margin-left: 140px;
  font-size: 30px;
}
.blog-content form{
  
  display:inline-block;
}
#ourform h1{
  margin-top: 5px;
  color: red;
  font-weight: 900;
  margin-left: 140px;
  font-size: 50px;
  margin-bottom: 10px;
  
  
}
.blog-content input{
  margin-left: 100px;
  display: inline-block;
  color: black;
  text-transform: uppercase;
  font-size: 18px;
  background: linear-gradient(to right,white 80% );
  height: 50px;
  width: 500px;
  border-radius: 7px;

}
.blog-content button{
  height: 55px;
  width: 150px;
  background-color: red;
  color: white;
  font-weight: 600;
  border-radius: 10px;
  cursor: pointer;
  

  

}
#ourlist{
  margin-left: 160px;
}
#ourlist li button{
  height: 30px;
  width: 70px;
}

.game{
  background-color: rgb(182, 182, 194);
  height: 50vh;
  
}
.game h2{
  color: black;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  margin-top: 30px;
  
}
